@import (less) "normalize.css";

/*** MAIN ***/
html, body{
	height: 100%;
}
body{
	background: #F4F4F4;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
	text-decoration: none;
}
:focus{ outline:0; }

#noscript-warning{
	background-color: #F00;
	color: #fff;
	font-weight: bold;
	top: 0;
	left: 0;
	right: 0;
	padding: 5px 0;
	position: fixed;
	text-align: center;
	z-index: 10;
}

/*** NAVIGATION ***/
@nav-blue: #515459;
@nav-lines: #93969b;

#nav{
	background: #1D2027;
	width: 200px;
	height: 100%;
	position: relative;
	text-align: center;
	overflow: auto;
}
#noteTypes{
	padding-top: 50px;
}
#noteTypes a{
	float: left;
	margin: 10px;
	font-size: 32px;
	cursor: pointer;
}

#desktopSelector {
	clear: both;
	padding: 30px 0 0 0;
	border-bottom: 1px solid @nav-blue;
	a {
		cursor: pointer;
		color: @nav-blue;
		display: block;
		height: 50px;
		line-height: 50px;
		font-size: 13px;
		position: relative;
		span {
			border: 1px solid @nav-lines;
			height: 17px;
			width: 28px;
			top: 15px;
			left: 20px;
			display: block;
			position: absolute;
		}
	}
	a:hover {
		color: @nav-lines;
	}
	a.active {
		color: #93969b;
		background: @nav-blue;
	}
}

#addDesktop{
	color: @nav-blue;
	display: block;
	cursor: pointer;
	font-size: 30px;
}


/*** MAIN ***/
#main{
	left: 200px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}


/*** RECYCLE BIN ***/
#bin{
	visibility: hidden;
	bottom: 20px;
	right: 20px;
	position: absolute;
	z-index: 10000;
	div {
		text-align: center;
		color: #FFF;
		background: #333;
		font-family: Meiryo;
		font-size: 55px;
		width: 70px;
		height: 70px;
		border-radius: 5px;
	}
	&.active{
		visibility: visible;
	}
	&.hover div{
		background: #F00;
	}
}


/*** NOTES ***/
@noteSize: 244px;
.note {
	box-shadow: 0 0 2px 0 rgba(0,0,0, 0.4);
	width: @noteSize;
	height: @noteSize;
	position: absolute;
	/*display: block;*/
	/*overflow: hidden;*/
	color: rgba(0, 0, 0, 0.4);
	text-align: center;
	span {
		vertical-align: middle;
		display: table-cell;
		width: @noteSize;
		height: @noteSize;
	}
	cursor: url('/assets/images/cursor_drag_arrow.png') 32 32, move;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

@noteBorderSize: 24px;
.note.done:before, .note.done:after{
	display: none;
}
.note:before{
	border-style: solid;
	border-width: @noteBorderSize @noteBorderSize 0 0;
	content: "";
	position: absolute;
	bottom: -@noteBorderSize;
	right: 0;
}
.note:after{
	box-shadow: -1px 1px 1px 0 rgba(0,0,0, 0.2);
	border-style: solid;
	border-width: 12px;
	content: "";
	position: absolute;
	bottom: -24px;
	left: 0;
	right: 24px;
}

@notePurple: #71459A;
@noteOrange: #FD8E09;
@noteDarker: #111;
@notePurpleDark: @notePurple - @noteDarker;
@noteOrangeDark: @noteOrange - @noteDarker;

.noteImg{
	background: @notePurple;

}
.noteImg:before{
	border-color: @notePurpleDark transparent;
}
.noteImg.note:after{
	border-color: @notePurple;
}
.noteTxt{
	background: @noteOrange;
}
.noteTxt.note:before{
	border-color: #C55509 transparent;
}
.noteTxt.note:after{
	border-color: @noteOrange;
}

@noteSmallSize: 10px;
.noteSmall{
	position: relative;
	width: 77px;
	height: 77px;
	line-height: 77px;
}
.noteSmall:before{
	border-width: @noteSmallSize @noteSmallSize 0 0;
	bottom: -@noteSmallSize;
}
.noteSmall:after{
	border-width: @noteSmallSize/2;
	bottom: -@noteSmallSize;
	right: @noteSmallSize;
}